In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
path = r'Y:\CIS-PD Videos\Cisnwh8'

In [23]:
def dataclean(file):    
    colnames = ['subject code', '1', 'start time', 'stop time', 'activity', '2', 'cycle']
    selectedcol= ['subject code','start time', 'stop time', 'activity', 'cycle']
    #df = pd.read_csv(os.path.join(path, 'cycle1.csv'), names=colnames, usecols=selectedcol)
    filename = os.path.join(path, file) # ie. file = 'cycle1.csv'
    df = pd.read_csv(filename, names=colnames, usecols=selectedcol)
    df = df.dropna()
    df['cycle'] += 1
    df['stop time'] = pd.to_numeric(df['stop time'], downcast='integer')
    df['cycle'] = pd.to_numeric(df['cycle'], downcast='integer')
    df['subject code'] = 1030
    print(df.head(3))
    
    return df

In [24]:
dataclean('cycle1.csv')

   subject code start time  stop time                activity  cycle
1          1030       1118       2145                Standing      1
2          1030       2315       3333                 Walking      1
3          1030       3608       4800  Walking while counting      1

,subject code,start time,stop time,activity,cycle
1,1030,1118,2145,Standing,1
2,1030,2315,3333,Walking,1
3,1030,3608,4800,Walking while counting,1
4,1030,5832,6518,Finger to nose--right hand,1
5,1030,6518,7121,Finger to nose--left hand,1
6,1030,7435,8029,Alternating right hand movements,1
7,1030,8030,8688,Alternating left hand movements,1
8,1030,9077,9343,Sit to stand,1
9,1030,9880,10973,Drawing on a paper,1
10,1030,11871,12990,Typing on a computer keyboard,1
12,1030,13164,14391,Assembling nuts and bolts,1
13,1030,15039,15950,Taking a glass of water and drinking,1
14,1030,17075,18503,Organizing sheets in a folder,1
15,1030,19059,20180,Folding towels,1
16,1030,20359,21813,Sitting,1

Shaking
Standing
Walking
Walking while counting
Finger to nose--right hand
Finger to nose--left hand
Alternating right hand movements
Alternating left hand movements
Sit to stand
Drawing on a paper
Typing on a computer keyboard
Assembling nuts and bolts
Taking a glass of water
Organizing sheets in a folder
Folding towels
Sitting